{% extends 'base.html' %}

{% block content %}
<!-- [View] Pharmacist / Admin Inventory -->
            <div id="view-pharmacist-inventory" class="view-section h-full flex flex-col">
                <div class="bg-white rounded-[2.5rem] p-8 shadow-sm flex-1 flex flex-col border border-slate-50">
                    <div class="flex justify-between items-end mb-6">
                        <div><h2 class="text-2xl font-extrabold text-slate-900">Pharmacy Inventory Ledger</h2><p class="text-sm font-bold text-slate-400 mt-1">Low stock automatically highlighted to ensure dispensing safety.</p></div>
                    </div>
                    <table class="w-full text-left border-collapse">
                        <thead>
                            <tr class="text-slate-400 text-xs uppercase font-extrabold border-b border-slate-100">
                                <th class="py-4 px-4">Record ID</th>
                                <th class="py-4 px-4">Pharmacy Code</th>
                                <th class="py-4 px-4">Medicine</th>
                                <th class="py-4 px-4">Current Stock</th>
                                <th class="py-4 px-4">Last Updated</th>
                            </tr>
                        </thead>
                        <tbody class="text-sm font-bold text-slate-700">
                            {% for store in stores %}
                            <tr class="{% if store.inventory < 50 %}bg-rose-50/50 border-b border-rose-100{% else %}hover:bg-slate-50 transition-colors border-b border-slate-50{% endif %}">
                                <td class="py-4 px-4 font-mono {% if store.inventory < 50 %}text-rose-500{% else %}text-slate-500{% endif %}">{{ store.s_id }}</td>
                                <td class="py-4 px-4">{{ store.p_id }}</td>
                                <td class="py-4 px-4">{{ store.m_name }}</td>
                                <td class="py-4 px-4 {% if store.inventory < 50 %}text-rose-600{% else %}text-emerald-600{% endif %} font-black">{{ store.inventory }}</td>
                                <td class="py-4 px-4 text-slate-500">{{ store.store_date }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
{% endblock %}
